@import url("https://fonts.googleapis.com/css2?family=Kulim+Park:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap");

#footer {
  background-color: #001745;
  background-image: url(../../Resources/images/circlesMobile.svg);
  background-repeat: no-repeat, no-repeat;
  background-size: contain, 12%;
  background-position: right 20%, 0% 40%;

  padding-left: 10%;
  padding-right: 10%;
  align-items: center;
  justify-content: center;
  font-family: Kulim Park;
}

.footerTop {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;
  /* margin-top: 7em; */
}

.icons {
  display: flex;
  padding-top: 2em;
  color: aliceblue;
}
.logoFooter {
  padding-top: 3em;
}

.icons img {
  margin-right: 20px;
  width: 3em;
  height: 3em;
  margin-top: 1em;
  flex-direction: row;
}
.texto {
  margin-top: 15px;
  text-shadow: 0px 1px 2px rgba(255, 255, 255, 0.333);
}

.legal {
  display: flex;
  padding-top: 2em;
  color: aliceblue;
  margin-top: 80px;
  text-shadow: 0px 1px 2px rgba(255, 255, 255, 0.333);
  justify-content: center;
  font-family: Kulim Park;
}

.wap {
  text-decoration: none;
  color: aliceblue;
}
.texto p {
  margin-bottom: 3px;
}

@media (max-width: 885px) {
  .footerTop {
    grid-template-columns: 1fr;
  }

  #footer {
    height: auto;
    align-items: center;
    justify-content: center;
    background-position: 50% 100%;
  }

  .logoFooter {
    margin: 0 auto;
    align-items: center;
    justify-content: center;
  }
  .legal {
    flex-direction: column;
    grid-template-columns: 1fr;
    margin: 0 auto;
    text-align: center;
    padding-top: 4em;
    padding-bottom: 2em;
  }
}
